.masthead {
    height: 715px;
    min-height: 600px;
    background-image: url('http://localhost:8080/images/sevenpizza_logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
